<!DOCTYPE html>
<html>
<head>
	<title> Filters Assignment</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

	<script type="text/javascript">
		var module= angular.module("myapp", []);
		module.controller("myctrl", function($scope){
			$scope.name="Sukriti Kakkar";
			$scope.number=4.557693;
			$scope.colors=["Red", "Pink", "Blue", "Orange", "Green", "Grey"];
		});
	</script>
</head>
<body>
<div ng-app="myapp" ng-controller="myctrl">
		<p>My name is {{ name | uppercase }}</p><br>
		<p>The number is {{ number | number : 2 }}</p><br>
		<p> The array before sorting is : </p>
		<ul>
			<li ng-repeat="x in colors "> {{x}} </li>
		</ul>
		<p> The array after sorting is : </p>
		<ul>
			<li ng-repeat="x in colors | orderBy"> {{x}} </li>
		</ul>

	</div>

</body>
</html>